

<div class="admin-dashboard-content">
  <h2>Welcome to the Admin Dashboard</h2>
  <p>Use the navigation bar above to manage Flights, Fares, Bookings, and Users.</p>

  <div class="admin-cards">
    <a routerLink="/admin/flights" class="admin-card ">✈️ Manage Flights</a>
    <a routerLink="/admin/fares" class="admin-card ">💰 Manage Fares</a>
    <a routerLink="/admin/bookings" class="admin-card ">📑 Manage Bookings</a>
    <a routerLink="/admin/users" class="admin-card">👥 User Management</a>
  </div>
</div>
